<ejs-grid [dataSource]="data">
  <e-columns>
    <e-column
      field="id"
      headerText="ID"
      textAlign="Right"
      width="90"
    ></e-column>
    <e-column field="name" headerText="Name" width="120"></e-column>
    <e-column
      field="emailAddress"
      headerText="email"
      textAlign="Right"
      width="90"
    ></e-column>
    <e-column
      field="phoneNumber"
      headerText="Phone"
      textAlign="Right"
      format="yMd"
      width="120"
    ></e-column>
  </e-columns>
</ejs-grid>
